{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Homes for you -->
	<div
		class="container c-section ">
		<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">{{ entry.title }}
		</h2>
		<p class="c-section__subtitle">{{ entry.subtext }}</p>

		<div
			class="row g-4 justify-content-center c-section__content">
			<!-- category card -->
			<div
				class="col-12 col-sm-6 col-lg-4 c-categories__card">
				<!-- todo: laad de titel en image in via de entry -->
				<div class="c-categories__info">
					<h3 class="c-categories__title">{{ entry.title }}</h3>
					<p class="">10 properties</p>
				</div>
				<div class="c-categories__imgcontainer">
					<img src="{{ entry.cover.one().url() }}" alt="" class="c-categories__img c-categories__img--page">
				</div>
			</div>

			<!-- todo: roep alle entries van de section 'houses' op die 'relatedTo' de entry zijn. Loop over deze entries en vul de immo-cards dynamisch in (zie templates/index.twig hiervoor) -->
			<!-- immo card -->
			{% set houses = craft.entries.section('house').relatedTo(entry).limit(3).all() %}

			<div class="col-12 col-sm-6 col-lg-4">
				{% for house in houses %}
					{% set value = house.price|money %}
					<a href="#" class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							<img src="{{house.cover.one().url()}}" alt="" class="c-immo-card__img">
							<div class="c-immo-card__tag {% switch house.state %}
																																																						{% case 'rent' %}
																																																							c-immo-card__tag--rent
																																																						{% default %}
																																																							c-immo-card__tag--sale
									
																																																					{% endswitch %}">
								<p>For
									{{house.state}}</p>
							</div>

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<p class="c-immo-card__price">{{ value }}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								<p>
									{{house.location}}
								</p>

							</div>
							{% set details = house.details %}
							{% for detail in details %}
								<div class="c-immo-card__details">
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bed.svg')}}" alt="">
										<p>
											{{ detail.bedrooms }}
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/bath.svg')}}" alt="">
										<p>
											{{ detail.bathrooms }}
										</p>
									</div>
									<div class="c-immo-card__icons">
										<img src="{{url('img/icons/sqf.svg')}}" alt="">
										<p>
											{{ detail.size }}
										</p>
									</div>
								</div>
							{% endfor %}

						</div>
					</a>
				{% endfor %}
			</div>

		</div>

	</div>


{% endblock %}
