{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Categories section -->
	<div class="container-fluid c-section ">
		<div class="c-categories">
			{% set allCategories = craft.entries.section('categories').level(1).one() %}{# {{ dump(allCategories) }} #}
			<!-- todo: Roep All Categories op en pas de title en subtitle aan.  -->
				<h2 class="c-section__title"> {{ allCategories.title}}</h2>
			<p class="c-section__subtitle">{{ allCategories.subtext}}</p>
			<!-- todo: Roep alle children van All  Categories op en loop ze over de cards. Vul de link, title en image dynamisch toe -->
			{% set categories = allCategories.children.all() %}
			{# {{ dump(categories) }} #}


			<!-- categories -->

				<div
				class="row g-3 justify-content-center c-section__content"> {# <!-- category card  -->{{ dump(categorie) }} #}
				{% for categorie in categories %}
					<a href="{{ categorie.url }}" class="c-categories__card col-12 col-sm-3 col-lg-2">
						<div class="c-categories__info">
							<h3 class="c-categories__title">{{ categorie.title }}</h3>
							<p class="">2 properties</p>
						</div>
						<div class="c-categories__imgcontainer">
							<img src="{{ categorie.cover.one().getUrl() }}" alt="" class="c-categories__img">
						</div>
					</a>
				{% endfor %}
			</div>

		</div>


	{% endblock %}
